*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --fuente-titulo: 'Open Sans';
}
body{
    font-family: var(--fuente-titulo);
}

.cabecera{

    /*-------Color de fondo de la cabecera--------*/
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 

    /*-------Estructura de la cabecera------------*/
    padding: 3rem;
    width: 100%;
    height: 100vh;
}

.conteiner{
    /*------Estructura de los titulos en la cabecera----*/
    max-width: 75rem;
    width: 95%;
    margin:auto;

    /*Alineacion con FlexBox de los elementos h1 y h2-------*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*-------Modificacion del menu---------*/
nav{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}
nav a{
    text-decoration: none;
    display: inline-block;
}
.enlaces{
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100%;

    background-color: rgba(51, 51, 51, 0.8);
    background: #606c88;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*Clases destinada a usar como boton para JS*/
.uno{
    clip-path: circle(0% at 0 0);
}
.dos{
    clip-path: circle(150% at 0 0);
}

